Package: com.wilsonthewolf.unlocker
Name: Unlocker
Version: 0.0.2
Architecture: iphoneos-arm
Description: Keep your device unlocked.
Maintainer: WilsontheWolf
Author: WilsontheWolf
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3), com.opa334.ccsupport
Icon: https://repo.shorty.systems/icons/com.wilsonthewolf.unlocker.png
Depiction: https://repo.shorty.systems/depictions/web/com.wilsonthewolf.unlocker
SileoDepiction: https://repo.shorty.systems/depictions/sileo/com.wilsonthewolf.unlocker
