Package: com.wilsonthewolf.unlocker
Name: Unlocker
Version: 0.0.2
Architecture: iphoneos-arm
Description: Keep your device unlocked.
Maintainer: WilsontheWolf
Author: WilsontheWolf
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3), com.opa334.ccsupport
Icon: file:///Library/ControlCenter/Bundles/UnlockerCC.bundle/SettingsIcon@3x.png
Depiction: https://wilson.antti.codes/repo/depictions/web/com.wilsonthewolf.unlocker
SileoDepiction: https://wilson.antti.codes/repo/depictions/sileo/com.wilsonthewolf.unlocker
